Telethon==1.16.4
future
emoji
beautifulsoup4
telegraph
requests
sqlalchemy
tswift
coffeehouse
python-telegram-bot==11.1.0
numpy
urbandict
pyowm
wikipedia
kbbi
feedparser
gtts
alphabet_detector
psycopg2-binary
feedparser
tswift
pynewtonmath
#memes vvv
spongemock
zalgo-text
geopy
nltk
psutil
bleach
aiohttp>=2.2.5
Pillow>=4.2.0
CurrencyConverter
#translator
googletrans
jikanpy
speedtest-cli
pytz
parsel
hurry.filesize
spamwatch
pySmartDL
youtube-dl
bs4
pybase64
hachoir
validators
youtube-search-python
ffmpeg
git+https://github.com/Sur-vivor/python-markdown2.git
